.main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 10px;
  gap:10px
}
#shifra{
  height: 70%;
}
span{
 background: linear-gradient(to left,rgb(84, 239, 248),rgb(245, 46, 149));
  font-size: 2vmax;
  background-clip: text;
  color:transparent;
}
button{
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(194, 41, 228);
  box-shadow: 2px 2px 30px rgb(245, 120, 212);
  cursor: pointer;
}
#speak{
  width: 100px;
}
p{
  font-size: 1.3vmax;
  color:white;
text-align: center;
padding: 0px 40px;
}
.response{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:8px;

}
#aigif{
  width: 50vh;
  height: 100px;
}